web-api/.vs/web-api/config/applicationhost.config
web-api/.vs/web-api/v16/.suo
web-api/web-api/bin/Debug/net5.0/appsettings.Development.json
web-api/web-api/bin/Debug/net5.0/appsettings.json
web-api/web-api/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
web-api/web-api/bin/Debug/net5.0/EntityFramework.dll
web-api/web-api/bin/Debug/net5.0/EntityFramework.SqlServer.dll
web-api/web-api/bin/Debug/net5.0/Humanizer.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Identity.Client.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.OpenApi.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
web-api/web-api/bin/Debug/net5.0/Newtonsoft.Json.dll
web-api/web-api/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
web-api/web-api/bin/Debug/net5.0/SQLitePCLRaw.core.dll
web-api/web-api/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
web-api/web-api/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
web-api/web-api/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
web-api/web-api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
web-api/web-api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
web-api/web-api/bin/Debug/net5.0/System.CodeDom.dll
web-api/web-api/bin/Debug/net5.0/System.Composition.AttributedModel.dll
web-api/web-api/bin/Debug/net5.0/System.Composition.Convention.dll
web-api/web-api/bin/Debug/net5.0/System.Composition.Hosting.dll
web-api/web-api/bin/Debug/net5.0/System.Composition.Runtime.dll
web-api/web-api/bin/Debug/net5.0/System.Composition.TypedParts.dll
web-api/web-api/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
web-api/web-api/bin/Debug/net5.0/System.Data.SqlClient.dll
web-api/web-api/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
web-api/web-api/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
web-api/web-api/bin/Debug/net5.0/System.Runtime.Caching.dll
web-api/web-api/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
web-api/web-api/bin/Debug/net5.0/web-api.deps.json
web-api/web-api/bin/Debug/net5.0/web-api.dll
web-api/web-api/bin/Debug/net5.0/web-api.exe
web-api/web-api/bin/Debug/net5.0/web-api.pdb
web-api/web-api/bin/Debug/net5.0/web-api.runtimeconfig.dev.json
web-api/web-api/bin/Debug/net5.0/web-api.runtimeconfig.json
web-api/web-api/bin/Debug/net5.0/WebApi.deps.json
web-api/web-api/bin/Debug/net5.0/WebApi.dll
web-api/web-api/bin/Debug/net5.0/WebApi.exe
web-api/web-api/bin/Debug/net5.0/WebApi.pdb
web-api/web-api/bin/Debug/net5.0/WebApi.runtimeconfig.dev.json
web-api/web-api/bin/Debug/net5.0/WebApi.runtimeconfig.json
web-api/web-api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/ref/web-api.dll
web-api/web-api/bin/Debug/net5.0/ref/WebApi.dll
web-api/web-api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
web-api/web-api/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
web-api/web-api/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
web-api/web-api/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
web-api/web-api/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
web-api/web-api/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
web-api/web-api/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
web-api/web-api/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
web-api/web-api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
web-api/web-api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
web-api/web-api/obj/project.assets.json
web-api/web-api/obj/project.nuget.cache
web-api/web-api/obj/web-api.csproj.nuget.dgspec.json
web-api/web-api/obj/web-api.csproj.nuget.g.props
web-api/web-api/obj/web-api.csproj.nuget.g.targets
web-api/web-api/obj/WebApi.csproj.nuget.dgspec.json
web-api/web-api/obj/WebApi.csproj.nuget.g.props
web-api/web-api/obj/WebApi.csproj.nuget.g.targets
web-api/web-api/obj/Container/ContainerCreationResult.cache
web-api/web-api/obj/Container/ContainerDevelopmentMode.cache
web-api/web-api/obj/Container/ContainerId.cache
web-api/web-api/obj/Container/ContainerName.cache
web-api/web-api/obj/Container/ContainerOperatingSystemFlavor.cache
web-api/web-api/obj/Container/ContainerRunContext.cache
web-api/web-api/obj/Container/OperatingSystemName.cache
web-api/web-api/obj/Container/TargetFramework.cache
web-api/web-api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
web-api/web-api/obj/Debug/net5.0/apphost.exe
web-api/web-api/obj/Debug/net5.0/project.razor.json
web-api/web-api/obj/Debug/net5.0/web-api.AssemblyInfo.cs
web-api/web-api/obj/Debug/net5.0/web-api.AssemblyInfoInputs.cache
web-api/web-api/obj/Debug/net5.0/web-api.assets.cache
web-api/web-api/obj/Debug/net5.0/web-api.csproj.CopyComplete
web-api/web-api/obj/Debug/net5.0/web-api.csproj.CoreCompileInputs.cache
web-api/web-api/obj/Debug/net5.0/web-api.csproj.FileListAbsolute.txt
web-api/web-api/obj/Debug/net5.0/web-api.csprojAssemblyReference.cache
web-api/web-api/obj/Debug/net5.0/web-api.dll
web-api/web-api/obj/Debug/net5.0/web-api.GeneratedMSBuildEditorConfig.editorconfig
web-api/web-api/obj/Debug/net5.0/web-api.genruntimeconfig.cache
web-api/web-api/obj/Debug/net5.0/web-api.MvcApplicationPartsAssemblyInfo.cache
web-api/web-api/obj/Debug/net5.0/web-api.MvcApplicationPartsAssemblyInfo.cs
web-api/web-api/obj/Debug/net5.0/web-api.pdb
web-api/web-api/obj/Debug/net5.0/web-api.RazorTargetAssemblyInfo.cache
web-api/web-api/obj/Debug/net5.0/WebApi.AssemblyInfo.cs
web-api/web-api/obj/Debug/net5.0/WebApi.AssemblyInfoInputs.cache
web-api/web-api/obj/Debug/net5.0/WebApi.assets.cache
web-api/web-api/obj/Debug/net5.0/WebApi.csproj.CopyComplete
web-api/web-api/obj/Debug/net5.0/WebApi.csproj.CoreCompileInputs.cache
web-api/web-api/obj/Debug/net5.0/WebApi.csproj.FileListAbsolute.txt
web-api/web-api/obj/Debug/net5.0/WebApi.csprojAssemblyReference.cache
web-api/web-api/obj/Debug/net5.0/WebApi.dll
web-api/web-api/obj/Debug/net5.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
web-api/web-api/obj/Debug/net5.0/WebApi.genruntimeconfig.cache
web-api/web-api/obj/Debug/net5.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
web-api/web-api/obj/Debug/net5.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
web-api/web-api/obj/Debug/net5.0/WebApi.pdb
web-api/web-api/obj/Debug/net5.0/WebApi.RazorTargetAssemblyInfo.cache
web-api/web-api/obj/Debug/net5.0/ref/web-api.dll
web-api/web-api/obj/Debug/net5.0/ref/WebApi.dll
web-api/web-api/obj/Debug/net5.0/staticwebassets/web-api.StaticWebAssets.Manifest.cache
web-api/web-api/obj/Debug/net5.0/staticwebassets/web-api.StaticWebAssets.xml
web-api/web-api/obj/Debug/net5.0/staticwebassets/WebApi.StaticWebAssets.Manifest.cache
web-api/web-api/obj/Debug/net5.0/staticwebassets/WebApi.StaticWebAssets.xml
web-api/.vs/web-api/DesignTimeBuild/.dtbcache.v2
web-api/web-api/Controllers/UrlTransformationController.cs
web-api/web-api/bin/Debug/net5.0/Hashids.net.dll
web-api/web-api/bin/Debug/net5.0/Microsoft.Extensions.ObjectPool.dll
