.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

a:link,
a:visited {
  background-color: rgba(144, 238, 144, 0.205);
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
  color: white;
}
